<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    {% load static %}
    <link rel = "stylesheet" type="text/css" href = "{% static 'about.css' %}" />
</head>
<body>
    
<div class="content">
    <div class="navbar">
        <div class="nav_img"><img src="../static/images/bakery-light-1.png" alt="" style="width: 100%;"> </div>
         <div class="nav_list">
          <ul>
          <li> <a href="/"> Home</a></li>   
          <li><a href="about"> About</a></li>
         <li><a href="ouroffer"> Our Offer</a></li>
         <li><a href="contact">Contact</a></li>
         </ul>
      </div>
    </div>
    <img src="../static/images/full-2-800x640.jpg" class="content_img">
<div class="conten_paragraph">
    <h2>Who we are?</h2>
    <p>We have been operating for over 30 years and are Members of The Federation of Master Builders. We work on projects big and small from small residential extensions to full house. We are so happy with this theme. Everyday it make our lives better.</p>
</div>
    <div class="content2_paragraph">
    <ul>
       <li>We care about environment.</li> 
       <li>We are trusted by hundreds of clients.</li> 
       <li>Social media loves us!</li> 
       <li>This list is super easy to create.</li> 
    </ul>
    
    </div>
</div>

</body>
</html>