<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel = "stylesheet" type="text/css" href = "{% static 'contact.css' %}" />
</head>
<body>
    <div class="content4">
        <div class="navbar">
            <div class="nav_img"><img src="../static/images/bakery-light-1.png" alt="" style="width: 100%;"> </div>
             <div class="nav_list">
              <ul>
              <li> <a href="/">Home</a></li>   
              <li><a href="about">About</a></li>
             <li><a href="ouroffer">Our Offer</a></li>
             <li><a href="contact">Contact</a></li>
             </ul>
          </div>
        </div>
        <div class="content_paragraph">
            <h2>Contact Information</h2>
            <p>I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.<br><br>Our contact details:</p>
            <br><br>
            <ul>
             <li>Manchester St 123-78B, Random 713, UK</li>
             <li>+46 123 456 789</li>
             <li>+37 431 456 789</li>
             <li>hello@sitename.com</li>
         </ul>
         </div>
     <img src="../static/images/Screenshot 2021-02-15 203440.png" class="content_img">
    </div>
</body>
</html>