<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap" rel="stylesheet">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />
</head>

<div class="home">
    <div class="navbar">
        <div class="nav_img"><img src="../static/images/bakery-light-1.png" style="width: 100%;"> </div>
        <div class="nav_list">
            <ul>
        <li> <a href="/"> Home</a></li>   
          <li><a href="about"> About</a></li>
         <li><a href="ouroffer"> Our Offer</a></li>
         <li><a href="contact">Contact</a></li>
            </ul>
        </div>
    </div>
    <div class="child">
        <h3>Welcome</h3>
        <h1>Family Bakery</h1>
        <p>We're the biggest, best equipped and most advanced Bakery in the greater Los Angeles area.</p>
        <button class="button1">Learn More</button>
        <button class="button2">Contact Us</button>
        </div>

</div>



</body>









</html>