<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    {% load static %}
    <link rel = "stylesheet" type="text/css" href = "{% static 'ouroffer.css' %}" />
</head>
<body>
    <div class="content2">
        <div class="navbar">
            <div class="nav_img"><img src="../static/images/bakery-light-1.png" alt="" style="width: 100%;"> </div>
             <div class="nav_list">
              <ul>
              <li> <a href="/"> Home</a></li>   
              <li><a href="about"> About</a></li>
             <li><a href="ouroffer"> Our Offer</a></li>
             <li><a href="contact">Contact</a></li>
             </ul>
          </div>
        </div>
        <div class="parent">
        <img src="../static/images/alexandru-stavrica-170390-800x760.jpg" style="width: 40%;" class="content_img">
        <div class="content_paragraph">
            <h1>Our Location</h1>
            <p>We have been operating for over 30 years and are Members of The Federation of Master Builders. We work on projects big and small from small residential extensions to full house. We are so happy with this theme. Everyday it make our lives better.
    
               <br><br> Story on projects big and small from small residential extensions to full house. We are so happy with this theme. Everyday it make our lives better.</p>
        </div>
    </div>
        </div>

</body>
</html>